.flex {
  display: flex;
}
.flex.vertical {
  flex-direction: column;
}
.flex.gap-0 {
  gap: 0rem;
}
.flex.gap-1 {
  gap: 1rem;
}
.flex.gap-2 {
  gap: 2rem;
}
.flex.gap-3 {
  gap: 3rem;
}
.flex.gap-4 {
  gap: 4rem;
}
.flex.gap-5 {
  gap: 5rem;
}
.flex.gap-6 {
  gap: 6rem;
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex.v-center {
  align-items: center;
}
.flex.h-center {
  justify-content: center;
}

.spacer {
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.padding-0 {
  padding: 0rem;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-3 {
  padding: 3rem;
}

.padding-4 {
  padding: 4rem;
}

.padding-5 {
  padding: 5rem;
}

.padding-6 {
  padding: 6rem;
}

.padding-7 {
  padding: 7rem;
}

.padding-8 {
  padding: 8rem;
}

.padding-9 {
  padding: 9rem;
}

.padding-10 {
  padding: 10rem;
}

.padding-auto {
  padding: auto;
}

.padding-inline-0 {
  padding-inline: 0rem;
}

.padding-inline-1 {
  padding-inline: 1rem;
}

.padding-inline-2 {
  padding-inline: 2rem;
}

.padding-inline-3 {
  padding-inline: 3rem;
}

.padding-inline-4 {
  padding-inline: 4rem;
}

.padding-inline-5 {
  padding-inline: 5rem;
}

.padding-inline-6 {
  padding-inline: 6rem;
}

.padding-inline-7 {
  padding-inline: 7rem;
}

.padding-inline-8 {
  padding-inline: 8rem;
}

.padding-inline-9 {
  padding-inline: 9rem;
}

.padding-inline-10 {
  padding-inline: 10rem;
}

.padding-inline-auto {
  padding-inline: auto;
}

.padding-block-0 {
  padding-block: 0rem;
}

.padding-block-1 {
  padding-block: 1rem;
}

.padding-block-2 {
  padding-block: 2rem;
}

.padding-block-3 {
  padding-block: 3rem;
}

.padding-block-4 {
  padding-block: 4rem;
}

.padding-block-5 {
  padding-block: 5rem;
}

.padding-block-6 {
  padding-block: 6rem;
}

.padding-block-7 {
  padding-block: 7rem;
}

.padding-block-8 {
  padding-block: 8rem;
}

.padding-block-9 {
  padding-block: 9rem;
}

.padding-block-10 {
  padding-block: 10rem;
}

.padding-block-auto {
  padding-block: auto;
}

.padding-top-0 {
  padding-top: 0rem;
}

.padding-top-1 {
  padding-top: 1rem;
}

.padding-top-2 {
  padding-top: 2rem;
}

.padding-top-3 {
  padding-top: 3rem;
}

.padding-top-4 {
  padding-top: 4rem;
}

.padding-top-5 {
  padding-top: 5rem;
}

.padding-top-6 {
  padding-top: 6rem;
}

.padding-top-7 {
  padding-top: 7rem;
}

.padding-top-8 {
  padding-top: 8rem;
}

.padding-top-9 {
  padding-top: 9rem;
}

.padding-top-10 {
  padding-top: 10rem;
}

.padding-top-auto {
  padding-top: auto;
}

.padding-right-0 {
  padding-right: 0rem;
}

.padding-right-1 {
  padding-right: 1rem;
}

.padding-right-2 {
  padding-right: 2rem;
}

.padding-right-3 {
  padding-right: 3rem;
}

.padding-right-4 {
  padding-right: 4rem;
}

.padding-right-5 {
  padding-right: 5rem;
}

.padding-right-6 {
  padding-right: 6rem;
}

.padding-right-7 {
  padding-right: 7rem;
}

.padding-right-8 {
  padding-right: 8rem;
}

.padding-right-9 {
  padding-right: 9rem;
}

.padding-right-10 {
  padding-right: 10rem;
}

.padding-right-auto {
  padding-right: auto;
}

.padding-bottom-0 {
  padding-bottom: 0rem;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.padding-bottom-2 {
  padding-bottom: 2rem;
}

.padding-bottom-3 {
  padding-bottom: 3rem;
}

.padding-bottom-4 {
  padding-bottom: 4rem;
}

.padding-bottom-5 {
  padding-bottom: 5rem;
}

.padding-bottom-6 {
  padding-bottom: 6rem;
}

.padding-bottom-7 {
  padding-bottom: 7rem;
}

.padding-bottom-8 {
  padding-bottom: 8rem;
}

.padding-bottom-9 {
  padding-bottom: 9rem;
}

.padding-bottom-10 {
  padding-bottom: 10rem;
}

.padding-bottom-auto {
  padding-bottom: auto;
}

.padding-left-0 {
  padding-left: 0rem;
}

.padding-left-1 {
  padding-left: 1rem;
}

.padding-left-2 {
  padding-left: 2rem;
}

.padding-left-3 {
  padding-left: 3rem;
}

.padding-left-4 {
  padding-left: 4rem;
}

.padding-left-5 {
  padding-left: 5rem;
}

.padding-left-6 {
  padding-left: 6rem;
}

.padding-left-7 {
  padding-left: 7rem;
}

.padding-left-8 {
  padding-left: 8rem;
}

.padding-left-9 {
  padding-left: 9rem;
}

.padding-left-10 {
  padding-left: 10rem;
}

.padding-left-auto {
  padding-left: auto;
}

.margin-0 {
  margin: 0rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-3 {
  margin: 3rem;
}

.margin-4 {
  margin: 4rem;
}

.margin-5 {
  margin: 5rem;
}

.margin-6 {
  margin: 6rem;
}

.margin-7 {
  margin: 7rem;
}

.margin-8 {
  margin: 8rem;
}

.margin-9 {
  margin: 9rem;
}

.margin-10 {
  margin: 10rem;
}

.margin-auto {
  margin: auto;
}

.margin-inline-0 {
  margin-inline: 0rem;
}

.margin-inline-1 {
  margin-inline: 1rem;
}

.margin-inline-2 {
  margin-inline: 2rem;
}

.margin-inline-3 {
  margin-inline: 3rem;
}

.margin-inline-4 {
  margin-inline: 4rem;
}

.margin-inline-5 {
  margin-inline: 5rem;
}

.margin-inline-6 {
  margin-inline: 6rem;
}

.margin-inline-7 {
  margin-inline: 7rem;
}

.margin-inline-8 {
  margin-inline: 8rem;
}

.margin-inline-9 {
  margin-inline: 9rem;
}

.margin-inline-10 {
  margin-inline: 10rem;
}

.margin-inline-auto {
  margin-inline: auto;
}

.margin-block-0 {
  margin-block: 0rem;
}

.margin-block-1 {
  margin-block: 1rem;
}

.margin-block-2 {
  margin-block: 2rem;
}

.margin-block-3 {
  margin-block: 3rem;
}

.margin-block-4 {
  margin-block: 4rem;
}

.margin-block-5 {
  margin-block: 5rem;
}

.margin-block-6 {
  margin-block: 6rem;
}

.margin-block-7 {
  margin-block: 7rem;
}

.margin-block-8 {
  margin-block: 8rem;
}

.margin-block-9 {
  margin-block: 9rem;
}

.margin-block-10 {
  margin-block: 10rem;
}

.margin-block-auto {
  margin-block: auto;
}

.margin-top-0 {
  margin-top: 0rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-3 {
  margin-top: 3rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.margin-top-6 {
  margin-top: 6rem;
}

.margin-top-7 {
  margin-top: 7rem;
}

.margin-top-8 {
  margin-top: 8rem;
}

.margin-top-9 {
  margin-top: 9rem;
}

.margin-top-10 {
  margin-top: 10rem;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-right-0 {
  margin-right: 0rem;
}

.margin-right-1 {
  margin-right: 1rem;
}

.margin-right-2 {
  margin-right: 2rem;
}

.margin-right-3 {
  margin-right: 3rem;
}

.margin-right-4 {
  margin-right: 4rem;
}

.margin-right-5 {
  margin-right: 5rem;
}

.margin-right-6 {
  margin-right: 6rem;
}

.margin-right-7 {
  margin-right: 7rem;
}

.margin-right-8 {
  margin-right: 8rem;
}

.margin-right-9 {
  margin-right: 9rem;
}

.margin-right-10 {
  margin-right: 10rem;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-bottom-0 {
  margin-bottom: 0rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-3 {
  margin-bottom: 3rem;
}

.margin-bottom-4 {
  margin-bottom: 4rem;
}

.margin-bottom-5 {
  margin-bottom: 5rem;
}

.margin-bottom-6 {
  margin-bottom: 6rem;
}

.margin-bottom-7 {
  margin-bottom: 7rem;
}

.margin-bottom-8 {
  margin-bottom: 8rem;
}

.margin-bottom-9 {
  margin-bottom: 9rem;
}

.margin-bottom-10 {
  margin-bottom: 10rem;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-left-0 {
  margin-left: 0rem;
}

.margin-left-1 {
  margin-left: 1rem;
}

.margin-left-2 {
  margin-left: 2rem;
}

.margin-left-3 {
  margin-left: 3rem;
}

.margin-left-4 {
  margin-left: 4rem;
}

.margin-left-5 {
  margin-left: 5rem;
}

.margin-left-6 {
  margin-left: 6rem;
}

.margin-left-7 {
  margin-left: 7rem;
}

.margin-left-8 {
  margin-left: 8rem;
}

.margin-left-9 {
  margin-left: 9rem;
}

.margin-left-10 {
  margin-left: 10rem;
}

.margin-left-auto {
  margin-left: auto;
}

.h-0 {
  height: 0rem;
}

.w-0 {
  width: 0rem;
}

.w-100 {
  width: 100%;
}

.min-h-0 {
  min-height: 0rem;
}

.h-1 {
  height: 1rem;
}

.w-1 {
  width: 1rem;
}

.w-100 {
  width: 100%;
}

.min-h-1 {
  min-height: 1rem;
}

.h-2 {
  height: 2rem;
}

.w-2 {
  width: 2rem;
}

.w-100 {
  width: 100%;
}

.min-h-2 {
  min-height: 2rem;
}

.h-3 {
  height: 3rem;
}

.w-3 {
  width: 3rem;
}

.w-100 {
  width: 100%;
}

.min-h-3 {
  min-height: 3rem;
}

.h-4 {
  height: 4rem;
}

.w-4 {
  width: 4rem;
}

.w-100 {
  width: 100%;
}

.min-h-4 {
  min-height: 4rem;
}

.h-5 {
  height: 5rem;
}

.w-5 {
  width: 5rem;
}

.w-100 {
  width: 100%;
}

.min-h-5 {
  min-height: 5rem;
}

.h-6 {
  height: 6rem;
}

.w-6 {
  width: 6rem;
}

.w-100 {
  width: 100%;
}

.min-h-6 {
  min-height: 6rem;
}

.h-7 {
  height: 7rem;
}

.w-7 {
  width: 7rem;
}

.w-100 {
  width: 100%;
}

.min-h-7 {
  min-height: 7rem;
}

.h-8 {
  height: 8rem;
}

.w-8 {
  width: 8rem;
}

.w-100 {
  width: 100%;
}

.min-h-8 {
  min-height: 8rem;
}

.h-9 {
  height: 9rem;
}

.w-9 {
  width: 9rem;
}

.w-100 {
  width: 100%;
}

.min-h-9 {
  min-height: 9rem;
}

.h-10 {
  height: 10rem;
}

.w-10 {
  width: 10rem;
}

.w-100 {
  width: 100%;
}

.min-h-10 {
  min-height: 10rem;
}

.h-11 {
  height: 11rem;
}

.w-11 {
  width: 11rem;
}

.w-100 {
  width: 100%;
}

.min-h-11 {
  min-height: 11rem;
}

.h-12 {
  height: 12rem;
}

.w-12 {
  width: 12rem;
}

.w-100 {
  width: 100%;
}

.min-h-12 {
  min-height: 12rem;
}

.h-13 {
  height: 13rem;
}

.w-13 {
  width: 13rem;
}

.w-100 {
  width: 100%;
}

.min-h-13 {
  min-height: 13rem;
}

.h-14 {
  height: 14rem;
}

.w-14 {
  width: 14rem;
}

.w-100 {
  width: 100%;
}

.min-h-14 {
  min-height: 14rem;
}

.h-15 {
  height: 15rem;
}

.w-15 {
  width: 15rem;
}

.w-100 {
  width: 100%;
}

.min-h-15 {
  min-height: 15rem;
}

.h-16 {
  height: 16rem;
}

.w-16 {
  width: 16rem;
}

.w-100 {
  width: 100%;
}

.min-h-16 {
  min-height: 16rem;
}

.h-17 {
  height: 17rem;
}

.w-17 {
  width: 17rem;
}

.w-100 {
  width: 100%;
}

.min-h-17 {
  min-height: 17rem;
}

.h-18 {
  height: 18rem;
}

.w-18 {
  width: 18rem;
}

.w-100 {
  width: 100%;
}

.min-h-18 {
  min-height: 18rem;
}

.h-19 {
  height: 19rem;
}

.w-19 {
  width: 19rem;
}

.w-100 {
  width: 100%;
}

.min-h-19 {
  min-height: 19rem;
}

.h-20 {
  height: 20rem;
}

.w-20 {
  width: 20rem;
}

.w-100 {
  width: 100%;
}

.min-h-20 {
  min-height: 20rem;
}

.h-21 {
  height: 21rem;
}

.w-21 {
  width: 21rem;
}

.w-100 {
  width: 100%;
}

.min-h-21 {
  min-height: 21rem;
}

.h-22 {
  height: 22rem;
}

.w-22 {
  width: 22rem;
}

.w-100 {
  width: 100%;
}

.min-h-22 {
  min-height: 22rem;
}

.h-23 {
  height: 23rem;
}

.w-23 {
  width: 23rem;
}

.w-100 {
  width: 100%;
}

.min-h-23 {
  min-height: 23rem;
}

.h-24 {
  height: 24rem;
}

.w-24 {
  width: 24rem;
}

.w-100 {
  width: 100%;
}

.min-h-24 {
  min-height: 24rem;
}

.h-25 {
  height: 25rem;
}

.w-25 {
  width: 25rem;
}

.w-100 {
  width: 100%;
}

.min-h-25 {
  min-height: 25rem;
}

.h-26 {
  height: 26rem;
}

.w-26 {
  width: 26rem;
}

.w-100 {
  width: 100%;
}

.min-h-26 {
  min-height: 26rem;
}

.h-27 {
  height: 27rem;
}

.w-27 {
  width: 27rem;
}

.w-100 {
  width: 100%;
}

.min-h-27 {
  min-height: 27rem;
}

.h-28 {
  height: 28rem;
}

.w-28 {
  width: 28rem;
}

.w-100 {
  width: 100%;
}

.min-h-28 {
  min-height: 28rem;
}

.h-29 {
  height: 29rem;
}

.w-29 {
  width: 29rem;
}

.w-100 {
  width: 100%;
}

.min-h-29 {
  min-height: 29rem;
}

.h-30 {
  height: 30rem;
}

.w-30 {
  width: 30rem;
}

.w-100 {
  width: 100%;
}

.min-h-30 {
  min-height: 30rem;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.font-icon,
.md-icon {
  font-family: var(--font-icon);
  text-transform: lowercase;
  font-style: normal;
  font-weight: normal;
}

.font-text {
  font-family: var(--font-text);
}

.font-heading {
  font-family: var(--font-heading);
}

.color-primary {
  color: var(--color-primary);
}

.color-heading {
  color: var(--color-heading);
}

.color-text {
  color: var(--color-text);
}

.color-red {
  color: var(--color-red);
}

.color-green {
  color: var(--color-green);
}

.background {
  background: var(--color-background);
}

.background-soft {
  background: var(--color-background-soft);
}

.border {
  border: 1px solid var(--color-border);
}

.border-soft {
  border: 1px solid var(--color-background-soft);
}

.border-primary {
  border: 1px solid var(--color-primary);
}

.border-inline {
  border-inline: 1px solid var(--color-border);
}

.border-inline-soft {
  border-inline: 1px solid var(--color-background-soft);
}

.border-inline-primary {
  border-inline: 1px solid var(--color-primary);
}

.border-block {
  border-block: 1px solid var(--color-border);
}

.border-block-soft {
  border-block: 1px solid var(--color-background-soft);
}

.border-block-primary {
  border-block: 1px solid var(--color-primary);
}

.border-top {
  border-top: 1px solid var(--color-border);
}

.border-top-soft {
  border-top: 1px solid var(--color-background-soft);
}

.border-top-primary {
  border-top: 1px solid var(--color-primary);
}

.border-right {
  border-right: 1px solid var(--color-border);
}

.border-right-soft {
  border-right: 1px solid var(--color-background-soft);
}

.border-right-primary {
  border-right: 1px solid var(--color-primary);
}

.border-bottom {
  border-bottom: 1px solid var(--color-border);
}

.border-bottom-soft {
  border-bottom: 1px solid var(--color-background-soft);
}

.border-bottom-primary {
  border-bottom: 1px solid var(--color-primary);
}

.border-left {
  border-left: 1px solid var(--color-border);
}

.border-left-soft {
  border-left: 1px solid var(--color-background-soft);
}

.border-left-primary {
  border-left: 1px solid var(--color-primary);
}

.radius-s {
  border-radius: var(--radius-s);
}

.radius-top-s {
  border-top-left-radius: var(--radius-s);
  border-top-right-radius: var(--radius-s);
}

.radius-right-s {
  border-top-right-radius: var(--radius-s);
  border-bottom-right-radius: var(--radius-s);
}

.radius-bottom-s {
  border-bottom-right-radius: var(--radius-s);
  border-bottom-left-radius: var(--radius-s);
}

.radius-left-s {
  border-bottom-left-radius: var(--radius-s);
  border-top-left-radius: var(--radius-s);
}

.radius-m {
  border-radius: var(--radius-m);
}

.radius-top-m {
  border-top-left-radius: var(--radius-m);
  border-top-right-radius: var(--radius-m);
}

.radius-right-m {
  border-top-right-radius: var(--radius-m);
  border-bottom-right-radius: var(--radius-m);
}

.radius-bottom-m {
  border-bottom-right-radius: var(--radius-m);
  border-bottom-left-radius: var(--radius-m);
}

.radius-left-m {
  border-bottom-left-radius: var(--radius-m);
  border-top-left-radius: var(--radius-m);
}

.radius-l {
  border-radius: var(--radius-l);
}

.radius-top-l {
  border-top-left-radius: var(--radius-l);
  border-top-right-radius: var(--radius-l);
}

.radius-right-l {
  border-top-right-radius: var(--radius-l);
  border-bottom-right-radius: var(--radius-l);
}

.radius-bottom-l {
  border-bottom-right-radius: var(--radius-l);
  border-bottom-left-radius: var(--radius-l);
}

.radius-left-l {
  border-bottom-left-radius: var(--radius-l);
  border-top-left-radius: var(--radius-l);
}

.radius-xl {
  border-radius: var(--radius-xl);
}

.radius-top-xl {
  border-top-left-radius: var(--radius-xl);
  border-top-right-radius: var(--radius-xl);
}

.radius-right-xl {
  border-top-right-radius: var(--radius-xl);
  border-bottom-right-radius: var(--radius-xl);
}

.radius-bottom-xl {
  border-bottom-right-radius: var(--radius-xl);
  border-bottom-left-radius: var(--radius-xl);
}

.radius-left-xl {
  border-bottom-left-radius: var(--radius-xl);
  border-top-left-radius: var(--radius-xl);
}

.radius-circle {
  border-radius: 50%;
}

.profile-image {
  border-radius: 50%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.formatted-content img.content-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  max-width: 100%;
  border-radius: var(--radius-m);
  background: var(--color-background-soft);
  display: block;
  margin-block: 1em;
  box-sizing: border-box;
}
.formatted-content img.content-image.aspect-16-by-9 {
  aspect-ratio: 16/9;
}
.formatted-content img.content-image.aspect-4-by-3 {
  aspect-ratio: 4/3;
}
.formatted-content img.content-image.aspect-1-by-1 {
  aspect-ratio: 1/1;
}
.formatted-content img.content-image.ProseMirror-selectednode {
  box-shadow: 0 0 0 2px var(--color-info);
}
.formatted-content a {
  color: var(--color-primary);
  text-decoration: none;
}
.formatted-content a:hover {
  text-decoration: underline;
  color: var(--color-primary-soft);
}
.formatted-content b {
  font-weight: 600;
}
.formatted-content p {
  margin-block: 1em;
  padding-block: 1px;
}
.formatted-content li > p {
  margin-block: 0;
}
.formatted-content .key-fact {
  border-radius: var(--radius-m);
  background: var(--color-background-soft);
  padding: 1em;
  margin: 1em 0;
  display: flex;
  gap: 1em;
  align-items: center;
}
.formatted-content .key-fact .icon {
  font-size: 2em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  color: var(--color-primary);
  font-family: var(--font-icon);
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}
.formatted-content .key-fact .icon::after {
  content: attr(data-icon);
}
.formatted-content .key-fact .content *:first-child {
  margin-top: 0;
}
.formatted-content .key-fact .content *:last-child {
  margin-bottom: 0;
}
.formatted-content blockquote.content-blockquote {
  background: var(--color-background-soft);
  border-radius: var(--radius-m);
  padding: 2em 1em 1px 1em;
  margin: 1rem 0;
  position: relative;
}
.formatted-content blockquote.content-blockquote::before {
  content: "format_quote";
  position: absolute;
  top: 5px;
  left: 5px;
  color: var(--color-text);
  font-family: var(--font-icon);
  font-size: 3em;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0.2;
  pointer-events: none;
  line-height: 1;
}

@font-face {
  src: url("/fonts/proxima-nova/ProximaNovaRegular.woff2") format("woff2");
  font-family: "Proxima Nova";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/proxima-nova/ProximaNovaMedium.woff2") format("woff2");
  font-family: "Proxima Nova";
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/proxima-nova/ProximaNovaSemiBold.woff2") format("woff2");
  font-family: "Proxima Nova";
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/inter/InterRegular.woff2") format("woff2");
  font-family: "Inter";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/inter/InterMedium.woff2") format("woff2");
  font-family: "Inter";
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/inter/InterSemiBold.woff2") format("woff2");
  font-family: "Inter";
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/sofia-pro/SofiaProRegular.woff2") format("woff2");
  font-family: "Sofia Pro";
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/sofia-pro/SofiaProMedium.woff2") format("woff2");
  font-family: "Sofia Pro";
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/sofia-pro/SofiaProSemiBold.woff2") format("woff2");
  font-family: "Sofia Pro";
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/sofia-pro/SofiaProBold.woff2") format("woff2");
  font-family: "Sofia Pro";
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  src: url("/fonts/material-symbols-rounded/MaterialSymbolsRounded.woff2") format("woff2");
  font-family: "Material Symbols Rounded";
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  --su: 16px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --font-heading: "Sofia Pro", sans-serif;
  --font-text: "Proxima Nova", sans-serif;
  --font-interface: "Inter", sans-serif;
  --font-icon: "Material Symbols Rounded";
  --color-primary: #e00047;
  --color-primary-soft: #fc286b;
  --color-heading: #393f3f;
  --color-text: #686f6f;
  --color-background: #ffffff;
  --color-background-soft: #eeeeee;
  --color-border: #ccc;
  --color-blue: #00a0e9;
  --color-red: #ff305d;
  --color-green: #09b959;
  --color-yellow: #ffa807;
  --color-info: var(--color-blue);
  --color-success: var(--color-green);
  --color-warning: var(--color-yellow);
  --color-error: var(--color-red);
  --height-header: 4.5rem;
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0px 1px 1.5px hsl(var(--shadow-color) / 0), 0px 1.6px 2.4px hsl(var(--shadow-color) / 0.03), 0px 3px 4.5px hsl(var(--shadow-color) / 0.07);
  --shadow-elevation-medium: 0px 1px 1.5px hsl(var(--shadow-color) / 0), 0px 3.9px 5.9px hsl(var(--shadow-color) / 0.03), 0px 7.5px 11.3px hsl(var(--shadow-color) / 0.05), 0px 15px 22.5px hsl(var(--shadow-color) / 0.08);
  --shadow-elevation-high: 0px 1px 1.5px hsl(var(--shadow-color) / 0), 0px 5.6px 8.4px hsl(var(--shadow-color) / 0.01), 0px 9.6px 14.4px hsl(var(--shadow-color) / 0.02), 0px 13.9px 20.9px hsl(var(--shadow-color) / 0.04), 0px 19.1px 28.7px hsl(var(--shadow-color) / 0.05), 0px 26.4px 39.6px hsl(var(--shadow-color) / 0.06), 0px 36.4px 54.6px hsl(var(--shadow-color) / 0.07), 0px 50px 75px hsl(var(--shadow-color) / 0.09);
  --mui-icon-font: var(--font-icon);
  --mui-background: var(--color-background-soft);
  --mui-border-color: var(--color-border);
  --primary: var(--color-primary);
  --error: var(--color-error);
  --warning: var(--color-warning);
  --success: var(--color-success);
  --info: var(--color-info);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-background-soft);
}

::-webkit-scrollbar-thumb {
  background: var(--color-text);
  border-radius: 3px;
  background-clip: content-box;
  border: 2px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-soft);
  border: 0px solid transparent;
  border-radius: 1px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-text);
  font-weight: 400;
  line-height: 1.75;
  color: var(--color-text);
}

#cookie-settings-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  font-weight: 400;
  line-height: 1.4;
  margin-block: 0.75em;
}

h1 {
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small {
  font-size: 0.833rem;
}

code {
  background: var(--color-background-soft);
  border-radius: 0.175em;
  color: var(--color-heading);
  padding: 0.25em;
  font-size: inherit;
}

img.content-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  max-width: 100%;
  border-radius: 0.5rem;
  display: block;
}
img.content-image.aspect-16-by-9 {
  aspect-ratio: 16/9;
}
img.content-image.aspect-4-by-3 {
  aspect-ratio: 4/3;
}
img.content-image.aspect-1-by-1 {
  aspect-ratio: 1/1;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover {
  color: var(--color-primary-soft);
}

fieldset {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-m);
  margin: 0;
  padding: 1rem;
}
fieldset legend {
  padding: 0 0.5rem;
}

select,
input[type=date] {
  height: 3rem;
  padding: 0 0.6rem;
  border: none;
  background: var(--mui-background);
  border-radius: 0.325rem;
  font-family: var(--font-text);
  font-size: 1rem;
}

.limiter {
  width: 100%;
  max-width: 1300px;
  display: block;
  margin: 0 auto;
  padding: 0 var(--su);
}
.limiter.text-limiter {
  max-width: 700px;
}

.flex {
  display: flex;
}
.flex.vertical {
  flex-direction: column;
}
.flex.center {
  align-items: center;
}
.flex.h-center {
  justify-content: center;
}
.flex.v-center {
  align-items: center;
}
.flex.h-end {
  justify-content: flex-end;
}
.flex.gap {
  gap: var(--su);
}
.flex.gap-2 {
  gap: calc(var(--su) * 2);
}
.flex.wrap {
  flex-wrap: wrap;
}
.flex .flex-1,
.flex .spacer {
  flex: 1;
}
.flex .flex-2 {
  flex: 2;
}
.flex .flex-3 {
  flex: 3;
}
.flex .flex-4 {
  flex: 4;
}

.text-green {
  color: var(--color-green);
}

.text-red {
  color: var(--color-red);
}

.text-yellow {
  color: var(--color-yellow);
}

.text-align-center {
  text-align: center;
}

.divider,
hr {
  border: none;
  border-top: 1px solid var(--color-border);
  width: 100%;
}
.divider.vertical,
hr.vertical {
  border: none;
  border-left: 1px solid var(--color-border);
  height: 100%;
}

.no-margin {
  margin: 0;
}

main {
  width: 100%;
}

.simple-button {
  color: var(--color-primary);
  text-transform: uppercase;
  background: none;
  border: none;
  padding: 0;
  font-size: 0.75rem;
  font-family: inherit;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.simple-button:hover {
  color: var(--color-primary-soft);
}

.confirm-popup-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--su);
  padding: var(--su);
}
.confirm-popup-wrapper .confirm-popup-footer {
  display: flex;
  gap: var(--su);
  width: 100%;
}
.confirm-popup-wrapper .confirm-popup-footer > button {
  flex: 1;
}

.mui-container.checkbox .label {
  flex: unset !important;
}

#uc-privacy-button #fingerprint,
#uc-privacy-button #background use {
  fill: var(--color-primary);
}

.fab-button {
  height: 4rem;
  width: 4rem;
  border: none;
  background: var(--color-primary);
  border-radius: 50%;
  box-shadow: var(--shadow-elevation-medium);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: var(--font-icon);
  font-size: 2rem;
  color: white;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 1.802rem;
  }
  h2 {
    font-size: 1.602rem;
  }
  h3 {
    font-size: 1.424rem;
  }
  h4 {
    font-size: 1.266rem;
  }
  h5 {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 500px) {
  html {
    --height-header: 3.5rem;
  }
}

/*# sourceMappingURL=app.css.map*/