@import './utils.sass'
@import './content.sass'
@import './fonts/proxima-nova.scss'
@import './fonts/inter.scss'
@import './fonts/sofia-pro.scss'
@import './fonts/material-symbols-rounded.scss'
    
*
    box-sizing: border-box

html
    margin: 0
    padding: 0
    height: 100%
    overflow-y: scroll
    scroll-behavior: smooth

    --radius-s: 4px
    --radius-m: 8px
    --radius-l: 12px
    --radius-xl: 16px

    --font-heading: 'Sofia Pro', sans-serif
    --font-text: 'Proxima Nova', sans-serif
    --font-interface: 'Inter', sans-serif
    --font-mono: 'JetBrains Mono', monospace
    --font-icon: 'Material Symbols Rounded'

    --height-header: 4.5rem
    
    --shadow-color: 0deg 0% 0%
    --shadow-elevation-low: 0px 1px 1.5px hsl(var(--shadow-color) / 0), 0px 1.6px 2.4px hsl(var(--shadow-color) / 0.03), 0px 3px 4.5px hsl(var(--shadow-color) / 0.07)
    --shadow-elevation-medium: 0px 1px 1.5px hsl(var(--shadow-color) / 0), 0px 3.9px 5.9px hsl(var(--shadow-color) / 0.03), 0px 7.5px 11.3px hsl(var(--shadow-color) / 0.05), 0px 15px 22.5px hsl(var(--shadow-color) / 0.08)
    --shadow-elevation-high: 0px 1px 1.5px hsl(var(--shadow-color) / 0), 0px 5.6px 8.4px hsl(var(--shadow-color) / 0.01), 0px 9.6px 14.4px hsl(var(--shadow-color) / 0.02), 0px 13.9px 20.9px hsl(var(--shadow-color) / 0.04), 0px 19.1px 28.7px hsl(var(--shadow-color) / 0.05), 0px 26.4px 39.6px hsl(var(--shadow-color) / 0.06), 0px 36.4px 54.6px hsl(var(--shadow-color) / 0.07), 0px 50px 75px hsl(var(--shadow-color) / 0.09)

    --color-primary: #e00047
    --color-on-primary: #ffffff
    --color-primary-soft: #fc286b
    --color-on-primary-soft: #ffffff

    --color-text: #364040
    --color-text-soft: #686f6f
    --color-text-soft-disabled: #b0b7b7

    --color-background: #ffffff
    --color-background-soft: #eeeeee
    --color-background-disabled: #f5f5f5

    --color-border: #ccc
    --color-border-focused: #b4b4b4
    --color-border-disabled: #f0f0f0

    --color-blue: #00a0e9
    --color-on-blue: #ffffff
    --color-green: #09b959
    --color-on-green: #ffffff
    --color-yellow: #ffa807
    --color-on-yellow: #ffffff
    --color-red: #ff1a3f
    --color-on-red: #ffffff

    --color-info: var(--color-blue)
    --color-on-info: var(--color-on-blue)
    --color-success: var(--color-green)
    --color-on-success: var(--color-on-green)
    --color-warning: var(--color-yellow)
    --color-on-warning: var(--color-on-yellow)
    --color-error: var(--color-red)
    --color-on-error: var(--color-on-red)

    --color-app-pages-on-light: #376bfa
    --color-app-pages-on-dark: #3c9fff
    --color-app-blog-on-light: #8854d0
    --color-app-blog-on-dark: #c07fff
    --color-app-forms-on-light: #e84393
    --color-app-forms-on-dark: #f368e0
    --color-app-ecommerce-on-light: #ff4757
    --color-app-ecommerce-on-dark: #ff6b81
    --color-app-jobs-on-light: #ff6348
    --color-app-jobs-on-dark: #ff8d64
    --color-app-intranet-on-light: #ffa502
    --color-app-intranet-on-dark: #fed330
    --color-app-wiki-on-light: #20bf6b
    --color-app-wiki-on-dark: #26de81
    --color-app-marketing-on-light: #079992
    --color-app-marketing-on-dark: #4cceca


    --mui-icon-font: var(--font-icon)
    --mui-background: var(--color-background-soft)
    --mui-border-color: var(--color-border)
    --primary: var(--color-primary)
    --error: var(--color-error)
    --warning: var(--color-warning)
    --success: var(--color-success)
    --info: var(--color-info)

::-webkit-scrollbar
    width: 12px
    height: 12px

::-webkit-scrollbar-track
    background: var(--color-background-soft)

::-webkit-scrollbar-thumb
    background: var(--color-text-soft)
    border-radius: 3px
    background-clip: content-box
    border: 2px solid transparent

    &:hover
        background: var(--color-primary-soft)
        border: 0px solid transparent
        border-radius: 1px

.small-scrollbar
    &::-webkit-scrollbar
        width: 6px
        height: 6px

    &::-webkit-scrollbar-track
        background: var(--color-background)

    &::-webkit-scrollbar-thumb
        background: #00000050
        border-radius: 3px
        background-clip: content-box
        border: 2px solid transparent

        &:hover
            background: var(--color-text-soft)
            border: 0px solid transparent
            border-radius: 1px

body
    margin: 0
    padding: 0
    height: 100%
    font-family: var(--font-text)
    font-weight: 400
    line-height: 1.75
    color: var(--color-text-soft)

#cookie-settings-button
    position: fixed
    bottom: 1rem
    right: 1rem
    opacity: 0
    pointer-events: none
    user-select: none

h1,
h2,
h3,
h4,
h5,
h6
    font-family: var(--font-heading)
    color: var(--color-text)
    font-weight: 400
    line-height: 1.4
    margin-block: .75em

h1
    font-size: 2.488rem

h2
    font-size: 2.074rem

h3
    font-size: 1.728rem

h4
    font-size: 1.44rem

h5
    font-size: 1.2rem

small
    font-size: 0.833rem

code
    background: var(--color-background-soft)
    border-radius: .175em
    color: var(--color-text)
    padding: .25em
    font-size: inherit

img.content-image
    object-fit: cover
    object-position: center
    width: 100%
    max-width: 100%
    border-radius: .5rem
    display: block

    &.aspect-16-by-9
        aspect-ratio: 16/9

    &.aspect-4-by-3
        aspect-ratio: 4/3

    &.aspect-1-by-1
        aspect-ratio: 1/1

a
    color: var(--color-primary)
    text-decoration: none

    &:hover
        color: var(--color-primary-soft)

fieldset
    border: 1px solid var(--color-border)
    border-radius: var(--radius-m)
    margin: 0
    padding: 1rem

    legend
        padding: 0 .5rem

select,
input[type="date"]
    height: 3rem
    padding: 0 .6rem
    border: none
    background: var(--mui-background)
    border-radius: var(--radius-m)
    font-family: var(--font-text)
    font-size: 1rem

input[type="color"]
    height: 2rem
    width: 3.5rem
    border: none
    padding: 0
    margin: 0
    -webkit-appearance: none

    &::-webkit-color-swatch-wrapper
        padding: 0

    &::-webkit-color-swatch
        border-radius: var(--radius-s)
        border: 1px solid white

.limiter
    width: 100%
    max-width: 1300px
    display: block
    margin: 0 auto
    padding: 0 1rem

    &.text-limiter
        max-width: 650px

.mui-button.mui-container
    border-radius: var(--radius-m) !important



// IODINE Select FIX
.select-dropdown-wrapper .select-dropdown-item
    position: relative

.iod-container.iod-toggle .label
    flex: unset !important



.v-popper--theme-tooltip
    .v-popper__wrapper
        .v-popper__inner
            background: #000000cc
            backdrop-filter: blur(10px)



.text-green
    color: var(--color-green)

.text-red
    color: var(--color-red)

.text-yellow
    color: var(--color-yellow)

.text-align-center
    text-align: center

.divider,
hr
    border: none
    border-top: 1px solid var(--color-border)
    width: 100%

    &.vertical
        border: none
        border-left: 1px solid var(--color-border)
        width: unset

.no-margin
    margin: 0



main
    width: 100%

.simple-button
    color: var(--color-primary)
    text-transform: uppercase
    background: none
    border: none
    padding: 0
    font-size: .75rem
    font-family: inherit
    cursor: pointer
    user-select: none

    &:hover
        color: var(--color-primary-soft)

.confirm-popup-wrapper
    display: flex
    align-items: center
    flex-direction: column
    gap: 1rem
    padding: 1rem

    .confirm-popup-footer
        display: flex
        gap: 1rem
        width: 100%

        > button
            flex: 1

.mui-container.checkbox
    .label
        flex: unset !important

.fab-button
    height: 4rem
    width: 4rem
    border: none
    background: var(--color-primary)
    border-radius: 50%
    box-shadow: var(--shadow-elevation-medium)
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    user-select: none
    font-family: var(--font-icon)
    font-size: 2rem
    color: white



@media only screen and (max-width: 700px)
    h1 
        font-size: 1.802rem

    h2
        font-size: 1.602rem

    h3
        font-size: 1.424rem

    h4
        font-size: 1.266rem

    h5
        font-size: 1.125rem

@media only screen and (max-width: 500px)
    html
        --height-header: 3.5rem