@font-face {
    src: url("/fonts/material-symbols-rounded/MaterialSymbolsRounded.woff2") format("woff2");
    font-family: "Material Symbols Rounded";
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}