@font-face {
    src: url("/fonts/proxima-nova/ProximaNovaRegular.woff2") format("woff2");
    font-family: "Proxima Nova";
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    src: url("/fonts/proxima-nova/ProximaNovaMedium.woff2") format("woff2");
    font-family: "Proxima Nova";
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    src: url("/fonts/proxima-nova/ProximaNovaSemiBold.woff2") format("woff2");
    font-family: "Proxima Nova";
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}