@font-face {
    src: url("/fonts/sofia-pro/SofiaProRegular.woff2") format("woff2");
    font-family: "Sofia Pro";
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    src: url("/fonts/sofia-pro/SofiaProMedium.woff2") format("woff2");
    font-family: "Sofia Pro";
    font-display: auto;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    src: url("/fonts/sofia-pro/SofiaProSemiBold.woff2") format("woff2");
    font-family: "Sofia Pro";
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    src: url("/fonts/sofia-pro/SofiaProBold.woff2") format("woff2");
    font-family: "Sofia Pro";
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}